# Application Configuration
NODE_ENV=development
PORT=3030

# Database Configuration
DATABASE_URL="postgresql://postgres:[PASSWORD]@taraz-database.internal:5432/taraz?schema=public&sslmode=disable" 


# JWT Configuration
JWT_SECRET=[JWT_SECRET]
JWT_REFRESH_SECRET=[JWT_REFRESH_SECRET]
JWT_EXPIRES_IN=365d
JWT_EXPIRES_IN_SECONDS=3600
JWT_REFRESH_EXPIRES_IN=7d

# Security Configuration
BCRYPT_SALT_ROUNDS=12

# Email Configuration
SMTP_FROM=[EMAIL]
SMTP_ENDPOINT=[ENDPOINT]
SMTP_PORT=587
SMTP_ACCESS_KEY=[SMTPY_KEY]
SMTP_ACCESS_KEY_SECRET=[SMTP_KEY_SECRET]

# CORS Configuration
# Comma-separated list of allowed origins for CORS
# Include your frontend URL(s) here
CORS_ORIGIN=http://localhost:3000,http://localhost:3001,http://localhost:5173,https://taraz-frontend.fly.dev,https://tarazedu.com,https://www.tarazedu.com

# Logging Configuration
LOG_LEVEL=info

AWS_ACCESS_KEY=[AWS_ACCESS_KEY]
AWS_ACCESS_SECRET=[AWS_ACCESS_SECRET]
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=tarazedu-media

# Media Upload Configuration
MAX_FILE_SIZE=10485760 # 10MB in bytes
ALLOWED_IMAGE_TYPES=image/jpeg,image/png,image/gif,image/webp
ALLOWED_VIDEO_TYPES=video/mp4,video/mpeg,video/quicktime,video/webm
ALLOWED_DOCUMENT_TYPES=application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document
ALLOWED_AUDIO_TYPES=audio/mpeg,audio/wav,audio/ogg